* {
	box-sizing: border-box;
}

main.game {
	/*position: absolute;*/
	width: 800px;
	height: 600px;
	border: 1px solid black;
	margin: auto;
}

.area {
	display: none;
}

/*===*/

.main-menu {
	text-align: center;
}

.main-area {
	text-align: center;
}

/*
	HELPER
*/
.hidden {
	display: none;
}
