main.game {
	/*position: absolute;*/
	width: 800px;
	height: 600px;
	border: 1px solid black;
	margin: auto;
}

.screen {
	display: none;
}

.main-menu {
	text-align: center;
}

.main-screen {
	text-align: center;
}
